.container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

.main-pane {
  width: 80%;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 5px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
}

.sidebar ul li a.active {
  font-weight: bold;
  font-style: italic;
}
